{% extends 'book/base.html' %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block content %}

<header class=" bg-primary text-white py-3">
    <div class="container ">
        <h2 class="logo"><a href="/"  style="text-decoration: none; color: white;">e-Book </a><i class="fa-regular fa-books"></i></h2>
    </div>
</header>


<div class="text-center container py-4">
    <h2 class="alert alert-secondary shadow-sm">e-Book - <u>LOGIN</u></h2>
</div>


    <form action="" method="POST" class="container my-5"> {% csrf_token %}
        {% for fm in fm %}
            {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br>
        {% endfor %}

        <input type="submit" class="btn btn-primary" value="Login">
        <a href="/" class="btn btn-danger">Cancel</a>
    </form>

    {% if messages %}
        {% for messages in messages %}
           <p class="alert alert-success"> {{messages}}</p>
        {% endfor %}
    {% endif %}

    {% if fm.non_field_errors %}
    {% for error in form.non_field_errors %}
        <p class="alert alert-danger">{{error}}</p>
    {% endfor %}
{% endif %}
{% endblock content %}